    <div class="container" style="padding-top:60px">
        <div class="row">
    <div class="col-md-12">
          <h2>Categories</h2>
          <hr />

          <div class="table-responsive">
        <table class="table ">
            <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/demos?category=1">1</a></td>
                    <td><a href="/demos?category=1">Full Stack</a></td>
                </tr>
                <tr>
                    <td><a href="/demos?category=2">2</a></td>
                    <td><a href="/demos?category=2">Machine Learning</a></td>
                </tr>
                <tr>
                    <td><a href="/demos?category=3">3</a></td>
                    <td><a href="/demos?category=3">Big Data</a></td>
                </tr>
                <tr>
                    <td><a href="/demos?category=4">4</a></td>
                    <td><a href="/demos?category=4">Cloud</a></td>
                </tr>
                <tr>
                    <td><a href="/demos?category=5">5</a></td>
                    <td><a href="/demos?category=5">DevOps</a></td>
                </tr>
                <tr>
                    <td><a href="/demos?category=6">6</a></td>
                    <td><a href="/demos?category=6">Blockchain</a></td>
                </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>
    </div>

   