<div class="row">
<div class="col-md-12">
<h2>Demos</h2>
<hr />

<div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Post&nbsp;Date</th>
                        <th>Category</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Intro to Node.js</td>
                        <td>2022-09-25</td>
                        <td><a href="/demos?category=1">1</a></td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Intro to Logistic Regression</td>
                        <td>2022-10-06</td>
                        <td><a href="/demos?category=2">2</a></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Apache Spark Demo</td>
                        <td>2022-10-06</td>
                        <td><a href="/demos?category=3">3</a></td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kubernetes 101</td>
                        <td>2022-10-06</td>
                        <td><a href="/demos?category=4">4</a></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>DevOps Platform</td>
                        <td>2022-11-13</td>
                        <td><a href="/demos?category=5">5</a></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Blockchain Hackathon</td>
                        <td>2022-11-29</td>
                        <td><a href="/demos?category=6">6</a></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Java OOP</td>
                        <td>2022-11-15</td>
                        <td><a href="/demos?category=1">1</a></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Chatbot App</td>
                        <td>2022-12-01</td>
                        <td><a href="/demos?category=2">2</a></td>
                        <td>true</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
    